*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 1180px;
    margin: 0 auto;
}

.header{
    background-image: url(../media/BACKGROUND.png);
    height: 100vh;
    background-size: cover;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu li{
    display: inline-flex;
}