*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 1180px;
    margin: 0 auto;
}

.header{
    background-image: url(../media/BACKGROUND.png);
    height: 100vh;
    background-size: cover;
}

.hidden{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    display: inline-flex;
}

.menu_item{
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    margin-top: 500px;
    color: white;
    font-size: 50px;
}

.promo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}

.promo-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button {
    background: rgba(26, 62, 62, 1);
    display: inline-block;
    padding: 16px 36px;
    align-self: start;
}

.promo,
.video-container,
.programs,
.direction,
.blog,
.gallery,
.mail-out{
    margin-top: 100px;
}

.video-container video{
    width: 1180px;
    height: 450px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.programm{
    background: #F3F5F4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nyn{
    width: 140px;
}

.programs-list img{
    float: left;
    width: 50px;
    margin-right: 20px;
}

.programs-list{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

.programs-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.programs-list p{
    font-size: 14px;
}

.programs-list h2{
    font-size: 32px;
}

.programs-list h5{
    font-size: 18px;
}

.hetr{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.direction{
    display: flex;
    flex-direction: column;
}


.direction h2{
    align-self: center;
    font-size: 32px;
    padding-bottom: 50px;

}

.direction a{
    align-self: center;
    margin: 50px;

}

.directions__item li{
    display: inline-flex;
    margin-right: 10px;
}

.directions__block{
    position: relative;
}

.directions__block_bottom{
    position: absolute;
    top: 80%;
    border-radius: 10;
    background-color: rgba(255, 255, 255, 0.247);
    width: 100%;
    height: 20%;
}

.article__block-text h4{
    font-size: 24px;
}

.directions__block_bottom a{
    position: absolute;
    top: -20%;
    left: 55%;
    background-color: rgba(255, 255, 255, 0.247);
    padding: 10px;
}

.article__block-text{
    color: white;
    position: absolute;
    top: 20%;
    right: 40%;
    width: 200px;
}